.side_header {
  font-size: 12px;
  margin: 12px 8px;
  color: #8c8c8c;
}

.side_list {
  margin: 12px 0 8px 0;
}

.list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  padding: 0 8px;
}

.list_item:hover {
  background-color: #e8e7e4;
}

.item_buttonList {
  display: none;
}

.list_item:hover .item_buttonList {
  display: block;
}

.item_button {
  cursor: pointer;
}

.document_add_button {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
}

.document_add_button:hover {
  /* color: #fff; */
  background-color: #e8e7e4;
}
