.editor {
  display: flex;
  flex-direction: column;
}

.editor_input {
  border: none;
  height: 24px;
  padding: 12px;
  font-size: 24px;
  font-weight: 700;
  outline: none;
}

.editor_textarea {
  padding: 12px;
  font-size: 16px;
  border: none;
  resize: none;
  overflow-y: auto;
  outline: none;
  height: 90vh;
}
